body {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
#dexbody {
  background: red;
  height: 675px;
  width: 525px;
  padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 14px 10px 14px 0 rgba(255, 255, 255, 0.3) inset,
    -6px -6px 10px 0 rgba(0, 0, 0, 0.25) inset;
}

#dexball1 {
  background: rgb(242, 244, 255);
  background: radial-gradient(
    circle,
    rgb(205, 255, 255) 10%,
    rgba(7, 250, 255, 1) 60%
  );
  height: 100px;
  width: 100px;
  margin-top: -100px;
  margin-left: 40px;
  border-radius: 100px;
  border: 10px solid white;
  box-shadow: 15x 15px 5px rgba(0, 0, 0, 0.137);
}

#dexball1 {
  background-color: #07faff;
  height: 80px;
  width: 80px;
  margin-top: -100px;
  margin-left: 40px;
  border-radius: 100px;
  border: 8px solid white;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137);
}

#dexball2 {
  background: radial-gradient(circle, rgb(255, 129, 129) %, #ff3c38 45%);
  height: 30px;
  width: 30px;
  margin-top: -65px;
  margin-left: 160px;
  border-radius: 100px;

  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137);
}

#dexball3 {
  background: rgb(255, 254, 179);
  background: radial-gradient(
    circle,
    rgba(255, 254, 179, 1) 5%,
    rgba(251, 239, 76, 1) 45%
  );
  height: 30px;
  width: 30px;
  margin-top: -33px;
  margin-left: 210px;
  border-radius: 100px;

  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137);
}

#dexball4 {
  background-color: #4ff017;
  background: radial-gradient(circle, rgb(179, 255, 204) 5%, #4ff017 45%);
  height: 30px;
  width: 30px;
  margin-top: -33px;
  margin-left: 260px;
  border-radius: 100px;

  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137);
}
#dexball5 {
  background-color: #f61f1a;
  height: 40px;
  width: 40px;
  margin-top: -15px;
  margin-left: 70px;
  border-radius: 100px;

  box-shadow: 4px 4px 5px black;
}

#screen {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: 430px;
  width: 450px;
  padding-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.329) . inset,
    -3px -3px 3px 0 rgba(0, 0, 0, 0.25) inset;
}

#screen2 {
  background: rgb(218, 239, 255);
  background: linear-gradient(
    -45deg,
    rgba(218, 239, 255, 1) 0%,
    rgba(255, 255, 255, 1) 45%,
    rgba(218, 239, 255, 1) 100%
  );

  height: 340px;
  width: 400px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -120px;
  margin-bottom: 50px;
  border-radius: 5px;
}

#cut {
  background-color: red;
  height: 40px;
  width: 100px;
  margin-top: -90px;
  transform: rotate(-135deg);
  margin-left: -3px;
  border-radius: 10%;
}

#line1 {
  height: 5px;
  width: 100px;
  border-radius: 3px;
  background-color: black;
  margin-left: 300px;
  margin-top: 0px;
}
#line2 {
  height: 5px;
  width: 100px;
  border-radius: 3px;
  background-color: black;
  margin-left: 300px;
  margin-top: -25px;
}
#line3 {
  height: 5px;
  width: 100px;
  border-radius: 3px;
  background-color: black;
  margin-left: 300px;
  margin-top: -25px;
}

#searchBox {
  margin-left: 5px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#pokemonImg {
  width: 120px;
  height: 120px;
  margin-left: 20px;
  margin-top: -80px;
  opacity: 1;
}

#namePokemon {
  margin-top: 15px;
  margin-left: 10px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
}
#simbol {
  height: 35px;
  padding-left: 10px;
}

#teste {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#searchButton {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  align-items: center;
  margin-top: initial;
}

#searchButton:hover {
  background-color: #008bbabe;
  color: white;
}

#searchBox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 2px solid #008bbabe;
  background-color: rgba(233, 233, 233, 0);
}
#types {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}
#typesUm {
  margin-top: -10px;
  width: 15%;
}
#typesDois {
  margin-top: -10px;
  width: 15%;
}

#basePokemon {
  padding-top: 20px;
  margin-left: 250px;
  position: relative;
  border-width: 2px;
  width: 100px;
  height: 100px;
  color: black;
  float: left;
}

#baseText {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
}

#block {
  padding-left: 20px;
}

#baseText {
  color: rgba(0, 0, 0, 0);
}

#baseTextdois {
  color: rgba(0, 0, 0, 0);
}
